@import url("https://fonts.googleapis.com/css?family=Passion+One:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
/* font-family: 'Passion One', Arial; */

/* font-family: 'Roboto', sans-serif; */

/* Yellow: #F4D03F */

/* Light Blue: #81d4fa; */

/* Green: #9EFF64 */

/* Opac blue background: rgba(64, 61, 205, 0.4); */

/* Global Styles */

html,
body {
  padding: 0px;
  margin: 0px;
  background: black;
}

.main {
  max-width: 800px;
  min-height: 800px;
  margin: 50px auto;
  position: relative;
}

.btn {
  width: 180px;
}

.green_font {
  color: #9eff64;
}

.btn:hover {
  transform: scale(1.2);
  opacity: 0.7;
  transition: all ease 0.2s;
}

.flex_div {
  display: flex;
  justify-content: space-between;
  color: white;
}
/* Home Styles */

.home_bg {
  background: url("./asssets/images/home_background.jpg");
}

.btns_bottom {
  position: absolute;
  width: 100%;
  bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.btns_top {
  position: absolute;
  width: 700px;
  top: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.block_t_container {
  padding-top: 130px;
  display: flex;
  justify-content: center;
  position: relative;
}

.blocks_animation_container {
  position: absolute;
  bottom: 0;
  width: 230px;
  height: 300px;
}

/* Tutorial Page Styles */

/* Credits page styles */

.credits_bg {
  background: url("./asssets/images/credits_background.jpg");
}

.references {
  padding: 100px 30px 50px 30px;
  font-family: "Roboto", sans-serif;
  color: #f4d03f;
}

.left_content {
  width: 200px;
  border: 1px solid blue;
}

.right_content {
  max-width: 500px;
  border: 1px solid blue;
}
/* Game page styles */

#tetris {
  margin: 1em auto;
  padding: 1em;
  /* //border: 4px solid red; */
  background: url("./asssets/images/game_background.jpg");
  width: 800px;
  height: 900px;
}

#canvas {
  display: inline-block;
  vertical-align: top;
  /* background: black; */
  border: 2px solid #f4d03f;
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #414141 2px, transparent 1px),
    linear-gradient(to bottom, #414141 2px, #303030 1px);
}

#menu {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

#menu p {
  text-align: center;
}

#menu p a {
  /* font-family: ; removed this because it was an error */
  text-decoration: none;
  color: #f4d03f;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

#upcoming {
  display: block;
  margin: 0 auto;
  background-color: rgba(64, 61, 205, 0.4);
  border: 3px solid #81d4fa;
}

#stats {
  position: absolute;
  bottom: 0em;
  right: 1em;
}

.stats_container {
  display: flex;
  justify-content: space-between;
}

.blue_box {
  border: 3px solid #81d4fa;
  width: 270px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(64, 61, 205, 0.4);
  font-family: "Passion One", Arial;
  color: #f4d03f;
  font-size: 48px;
}

.menu_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  justify-content: space-around;
}

/* Game Over page styles */

.gameover_bg {
  background: url("./asssets/images/gameover_background.jpg");
}

.game_container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}

.highScore{
  color:dodgerblue;
  text-align: center;
  font-size:70px;
  font-family: "Passion One", Arial;
  padding-top:160px;

}

.gameover_bg .stats_container {
  margin-top:250px;
}
.gameover_bg .stats_container > div {
  font-size:35px;
  border:none;
  background:none;
}

.gameover_bg .stats_container .level {
  margin-top:45px;
}

/* STARS ANIMATION */

img.glitter-star {
  position: absolute;
  height: 16px;
  width: 16px;

  animation: glitter 2s linear 0s infinite normal;
  -webkit-animation: glitter 2s linear 0s infinite normal;
  -moz-animation: glitter 2s linear 0s infinite normal;
  -ms-animation: glitter 2s linear 0s infinite normal;
  -o-animation: glitter 2s linear 0s infinite normal;
}

@keyframes glitter {
  0% {
    -webkit-transform: scale(2.0);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(2.0);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.0);
    opacity: 1;
  }
}

/* Game Page Media Queries */

@media screen and (min-width: 0px) and (min-height: 0px) {
  #tetris {
    font-size: 0.75em;
    width: 250px;
  }
  #menu {
    width: 100px;
    height: 200px;
  }
  #upcoming {
    width: 50px;
    height: 50px;
  }
  #canvas {
    width: 100px;
    height: 200px;
  }
}

/* 10px chunks */

@media screen and (min-width: 400px) and (min-height: 400px) {
  #tetris {
    font-size: 1em;
    width: 350px;
  }
  #menu {
    width: 150px;
    height: 300px;
  }
  #upcoming {
    width: 75px;
    height: 75px;
  }
  #canvas {
    width: 150px;
    height: 300px;
  }
}

/* 15px chunks */

@media screen and (min-width: 500px) and (min-height: 500px) {
  #tetris {
    font-size: 1.25em;
    width: 450px;
  }
  #menu {
    width: 200px;
    height: 400px;
  }
  #upcoming {
    width: 100px;
    height: 100px;
  }
  #canvas {
    width: 200px;
    height: 400px;
  }
}

/* 20px chunks */

@media screen and (min-width: 600px) and (min-height: 600px) {
  #tetris {
    font-size: 1.5em;
    width: 550px;
  }
  #menu {
    width: 250px;
    height: 500px;
  }
  #upcoming {
    width: 125px;
    height: 125px;
  }
  #canvas {
    width: 250px;
    height: 500px;
  }
}

/* 25px chunks */

@media screen and (min-width: 700px) and (min-height: 700px) {
  #tetris {
    font-size: 1.75em;
    width: 650px;
  }
  #menu {
    width: 300px;
    height: 600px;
  }
  #upcoming {
    width: 150px;
    height: 150px;
  }
  #canvas {
    width: 300px;
    height: 600px;
  }
}

/* 30px chunks */

@media screen and (min-width: 800px) and (min-height: 800px) {
  #tetris {
    font-size: 2em;
    width: 750px;
  }
  #menu {
    width: 350px;
    height: 700px;
  }
  #upcoming {
    width: 175px;
    height: 175px;
  }
  #canvas {
    width: 350px;
    height: 700px;
  }
}

/* 35px chunks */

@media screen and (min-width: 900px) and (min-height: 900px) {
  #tetris {
    font-size: 2.25em;
    width: 850px;
  }
  #menu {
    width: 400px;
    height: 800px;
  }
  #upcoming {
    width: 200px;
    height: 200px;
  }
  #canvas {
    width: 400px;
    height: 800px;
  }
}

/* HOME PAGE BLOCK ANIMATIONS */
.block-animation_red{
  animation: blockFrames linear 3s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: blockFrames linear 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: blockFrames linear 3s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
}

@keyframes blockFrames{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  20% {
    transform:  translate(170px,50px)  rotate(160deg) ;
  }
  54% {
    transform:  translate(0px,100px)  rotate(-160deg) ;
  }
  77% {
    transform:  translate(170px,150px)  rotate(60deg) ;
  }
  100% {
    transform:  translate(0px,250px)  rotate(-260deg) ;
  }
}

@-moz-keyframes blockFrames{
  0% {
    -moz-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  20% {
    -moz-transform:  translate(170px,50px)  rotate(160deg) ;
  }
  54% {
    -moz-transform:  translate(0px,100px)  rotate(-160deg) ;
  }
  77% {
    -moz-transform:  translate(170px,150px)  rotate(60deg) ;
  }
  100% {
    -moz-transform:  translate(0px,250px)  rotate(-260deg) ;
  }
}

@-webkit-keyframes blockFrames {
  0% {
    -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
  }
  20% {
    -webkit-transform:  translate(170px,50px)  rotate(160deg) ;
  }
  54% {
    -webkit-transform:  translate(0px,100px)  rotate(-160deg) ;
  }
  77% {
    -webkit-transform:  translate(170px,150px)  rotate(60deg) ;
  }
  100% {
    -webkit-transform:  translate(0px,250px)  rotate(-260deg) ;
  }
} 

.block-animation_blue{
  animation: blockFrames_blue linear 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: blockFrames_blue linear 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: blockFrames_blue linear 5s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
}

@keyframes blockFrames_blue{
  0% {
    transform:  translate(120px,-50px)  rotate(0deg) ;
  }
  20% {
    transform:  translate(-40px,30px)  rotate(-120deg) ;
  }
  40% {
    transform:  translate(120px,50px)  rotate(10deg) ;
  }
  60% {
    transform:  translate(-40px,100px)  rotate(-400deg) ;
  }
  80% {
    transform:  translate(120px,150px)  rotate(-100deg) ;
  }
  100% {
    transform:  translate(-40px,250px)  rotate(160deg) ;
  }
}

@-moz-keyframes blockFrames_blue{
  0% {
    -moz-transform:  translate(120px,-50px)  rotate(0deg) ;
  }
  20% {
    -moz-transform:  translate(-40px,30px)  rotate(-120deg) ;
  }
  40% {
    -moz-transform:  translate(120px,50px)  rotate(10deg) ;
  }
  60% {
    -moz-transform:  translate(-40px,100px)  rotate(-400deg) ;
  }
  80% {
    -moz-transform:  translate(120px,150px)  rotate(-100deg) ;
  }
  100% {
    -moz-transform:  translate(-40px,250px)  rotate(160deg) ;
  }
}

@-webkit-keyframes blockFrames_blue {
 0% {
    -webkit-transform:  translate(120px,-50px)  rotate(0deg) ;
  }
  20% {
    -webkit-transform:  translate(-40px,30px)  rotate(-120deg) ;
  }
  40% {
    -webkit-transform:  translate(120px,50px)  rotate(10deg) ;
  }
  60% {
    -webkit-transform:  translate(-40px,100px)  rotate(-400deg) ;
  }
  80% {
    -webkit-transform:  translate(120px,150px)  rotate(-100deg) ;
  }
  100% {
    -webkit-transform:  translate(-40px,250px)  rotate(160deg) ;
  }
}

.block-animation_green{
  animation: blockFrames_green linear 6s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: blockFrames_green linear 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: blockFrames_green linear 6s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
}

@keyframes blockFrames_green{
  0% {
    transform:  translate(-120px,250px)  rotate(0deg) ;
  }
  20% {
    transform:  translate(80px,200px)  rotate(-120deg) ;
  }
  40% {
    transform:  translate(-120px,150px)  rotate(100deg) ;
  }
  60% {
    transform:  translate(80px,100px)  rotate(-400deg) ;
  }
  80% {
    transform:  translate(-120px,50px)  rotate(-100deg) ;
  }
  100% {
    transform:  translate(80px,-40px)  rotate(160deg) ;
  }
}

@-moz-keyframes blockFrames_green{
  0% {
    -moz-transform:  translate(-120px,250px)  rotate(0deg) ;
  }
  20% {
    -moz-transform:  translate(80px,200px)  rotate(-120deg) ;
  }
  40% {
    -moz-transform:  translate(-120px,150px)  rotate(100deg) ;
  }
  60% {
    -moz-transform:  translate(80px,100px)  rotate(-400deg) ;
  }
  80% {
    -moz-transform:  translate(-120px,50px)  rotate(-100deg) ;
  }
  100% {
    -moz-transform:  translate(80px,-40px)  rotate(160deg) ;
  }
}

@-webkit-keyframes blockFrames_green {
  0% {
    -webkit-transform:  translate(-120px,250px)  rotate(0deg) ;
  }
  20% {
    -webkit-transform:  translate(80px,200px)  rotate(-120deg) ;
  }
  40% {
    -webkit-transform:  translate(-120px,150px)  rotate(100deg) ;
  }
  60% {
    -webkit-transform:  translate(80px,100px)  rotate(-400deg) ;
  }
  80% {
    -webkit-transform:  translate(-120px,50px)  rotate(-100deg) ;
  }
  100% {
    -webkit-transform:  translate(80px,-40px)  rotate(160deg) ;
  }
} 


.block-animation_purple{
  animation: blockFrames_purple linear 7s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: blockFrames_purple linear 7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: blockFrames_purple linear 7s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
}

@keyframes blockFrames_purple{
  0% {
    transform:  translate(-150px,-50px)  rotate(0deg) ;
  }
  20% {
    transform:  translate(-140px, 240px)  rotate(40deg) ;
  }
  40% {
    transform:  translate(-100px, -70px)  rotate(300deg) ;
  }
  60% {
    transform:  translate(-80px, 240px)  rotate(-300deg) ;
  }
  80% {
    transform:  translate(-50px, -70px)  rotate(20deg) ;
  }
  100% {
    transform:  translate(30px, 250px)  rotate(360deg) ;
  }
}

@-moz-keyframes blockFrames_purple{
  0% {
    -moz-transform:  translate(-150px,-50px)  rotate(0deg) ;
  }
  20% {
    -moz-transform:  translate(-140px, 240px)  rotate(40deg) ;
  }
  40% {
    -moz-transform:  translate(-100px, -70px)  rotate(300deg) ;
  }
  60% {
    -moz-transform:  translate(-80px, 240px)  rotate(-300deg) ;
  }
  80% {
    -moz-transform:  translate(-50px, -70px)  rotate(20deg) ;
  }
  100% {
    -moz-transform:  translate(30px, 250px)  rotate(360deg) ;
  }
}

@-webkit-keyframes blockFrames_purple {
  0% {
    -webkit-transform:  translate(-150px,-50px)  rotate(0deg) ;
  }
  20% {
    -webkit-transform:  translate(-140px, 240px)  rotate(40deg) ;
  }
  40% {
    -webkit-transform:  translate(-100px, -70px)  rotate(300deg) ;
  }
  60% {
    -webkit-transform:  translate(-80px, 240px)  rotate(-300deg) ;
  }
  80% {
    -webkit-transform:  translate(-50px, -70px)  rotate(20deg) ;
  }
  100% {
    -webkit-transform:  translate(30px, 250px)  rotate(360deg) ;
  }
} 